[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=NumptyPhys.
Categories=Game;LogicGame;
Exec=/opt/numptyphysics/bin/numptyphysics
Icon=/opt/numptyphysics/data/numptyphysics.png

