Source: numptyphysics
Section: user/games
Priority: optional
Maintainer: Tim Edmonds <tmedmonds@gmail.com>
Build-Depends: debhelper (>> 5.0.0), dh-buildinfo, libsdl1.2-dev, libsdl-image1.2-dev
Standards-Version: 3.7.2

Package: numptyphysics
Architecture: any
Depends: ${shlibs:Depends}
Description: crayon based physics puzzle game
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABmJLR0QA/wD/AP+g
 vaeTAAAACXBIWXMAAAsSAAALEgHS3X78AAANEklEQVRo3tWZe3Qc1X3HP/fO7Eta
 rVbySrIk62nZWBLG8iMkMWA3JdSAQzEIQ8wxTQ7P0jQU/IwdbGM7oeFVEkrTnnDa
 nlNOTNOWA4ScBDAGAyIk+IGxg23sWFpJlmRZ79XuWtqdmds/ZnYtWQYs22pOR+dq
 tKs5d77f3+/7+/7unRFKKf4/H/L/8mZCCNHa2pp78uTJqUIIcVEmVUpN2Lhx8d2z
 blx8dwEgnnnmmSk9PT27TNM0EonEYCQSeQFwXeg9xERI6OYb7l+OEM8J8CoYMozh
 N3/6sy0zQ6FJBZs2bfr5tGnTZixZsqRiYGDgsf7+/m0lJSXZBQUFjeo8wOgXG/wt
 S767Tdfdy0pKi/D5PEhNekN5Wd+QUuPJJ57t+u9f/HrAVJHnZ8+e/ePS0tIV5eXl
 Wy3LikSj0feEEN9SSiX/JARuvenBQqDB58uorK2djsvlAgTxUzHKy4spKprMvr1H
 8+pmLVzR39/VEY/FzUAgUFpfX3/PK6+8cuzkyZMbw+HwfXv27PnP8WTkohTxbfUr
 v40Q4bz8/Mq5c+vwejPRdA+6y01kIMauXZ/w0ouvUVRUxvz5X6Wqanqh3x/MfO5n
 z1vdnWrx5PwytW3btpf9fv+qurq6Yzk5OTuj0ejPhRCuCSfwzVtW/4+myX+vrql2
 X3LJdDTNja670TU3mvSQkxOitzvKr159Hyk8DPRHmZQ7idlzZrJ3z6fatKrLbrpy
 /s07O9ri9/r9/tL6+voVbrf7jng8PtnJSOjzXOu8i3jZ0rXFSpkfZPgySmprq3F7
 vEgpEQgQgtT9hodPEY9HkZqGS/cy0B+hq7uDaxZ9mYZ391FaWk5kMMKi6+bxwW93
 8eorOw7H4pHnly1fFF2+fPmKYDCYY1lWJJFIvOf3+8fUyHll4Pala+9RltFUkD+5
 ZM7cOXi9GWiaBggUoBQoS6EshcftIyeYTzAQIjPDT35+Prm5k3hz+25Ap693ANMw
 +fJX6mhq6qSmpm5GednMHx5vjm71+/2lt9xy28ZURlpaWu4VQozCPO4M3L507S/B
 uuGSGdWEQiGEcMAqsJTFyPmEACEkYkRGFGAYSYxkEmUJBgcjdPd0OhnZT2lpKaeG
 YlyzaC4NDb/n1ZffiieNod/csGTBgfvuu+v6QCDwZ0qpU6l7nLML3b507RRLmR96
 vb7Culmz8Hi9KMvCMhWWMjEtC8s0UVg2SkBKcZqAlKBACIEUkqysTBIJE5c7l4SR
 YPvrH+L1+ujt6UcJk7nzZvL8f7xEXd2cjK6u7vrtr+2un10331ww/8ZrgZfGlYFl
 S9fcb5rJf5xcUKjNqK5GCGmDtyxMy8AwDEzLwLJMLNNCOQyEEEippUEjsM9A7WUV
 HPpDC0IILIc8aEQGI3R3n+CaRZfz3jv7KC4uxrIMOk92MDQUo7mpHamJA0pZm3/5
 63978Qsz8M36Va8pzEU1NbXk5xfYOrcsTMvEMA1MM4lpJKm5tIKZs6pAKTo6ujjR
 0UM43M5gJO6AF0hxusD9mV4Ki3Job+tG01y4XG6kpuH1ejHNJNtf34XH7SUyECM7
 6Cc0KUQymUVu7iROdJyceeLEiaeAFz8zA7fVryhVSu3RdVeoekYthgEIDZRCKRPT
 NDHNJIaRJGkk+O6Dt1I1rWTMPB3tXTSHOzh0sIlwuC0tqYrKYhZ+bR6/2LYDl+5C
 01xIKZFCwzQNkmYC07DQXRpSWpimgWkmsCyDRGKY3bs+QilVedYM3HrTgw9Yynza
 486UPl8ubcf7kNK+VCmFZZmYVtIhkMA0DRLDibMGorAoj8KiPL4y/zIAmhrb6O+P
 UFExhWBOFqFQFn29caRmIYSGkOCSbtxuN5ZSmGYSyzKQwkIJDYSir3eQrKxAcyQS
 6RtDYOmSB95SWF/zerJxu/1IoTs6BstSKGWhlIXX66J4Sj6madB4rJXOzl5qLp36
 hfVUUVkMFKc/z7u8mjde22U7mXTUIOxfQiiklCgkKIkQGm1tHWia4CfPbswI5eVG
 0gRu/su/KRNC7pNCBj2ebHTdixSa3ZyEQCmBbS+2hO68ZzFz5l2SBtLU1AZALHaK
 tSueprd3kEx/JrWXVlJdU8HcedWE8oJjCJWVFaYLfmyzFad/hCDc1IbX52LT1vvJ
 zPTlHTx4sEoHuOmG+26TUn9BCilcLh9SaM6EErtvpCa21+CWUnR19Y+ObIUd1eam
 dvr6YrhcHkxDcWB/E3/YH+a/XniL3ElZ1M2ezoyacsrKCwmFshkYiCKFdCx3NAkB
 KOf+4aZ2MjK9bNh8D5mZPhobW3jmJ/8a0h32fw0IKTUndSP8W0i7Wak0BQSK1ubO
 s0qk5tKpZGcHSCYtNE1Pz6OUIjIwxM639rNzx8dO1CVCSnJzAxQU5KLr4nSwnIRb
 lsnRI834/V7Wb/pWGvz3Vj/6x99/+FaPIyFZl06ZSE2SIkI6xWnDEoK9e4/YEQ93
 sGXjc/izMvjS5bVce/1Xue4bV/KbX32IpmloUgPAcnZQlmXZekc56yZJdDBBNNqJ
 P9NHXkGQjAwPAKZpceTTFgKBDNZtuIOMTC+NjS2sWfmDlh1vv/S3/QPdcR3A43Gd
 SCSMUQL9rA2rrUg4FR/m0MEwoBgeNkgmo+zYvod3dx5g7peqCQSySCRMOwiItPSU
 ZY3YEjpzOovAeHyYcGMnuq6TX5BNR8dJsrMzWPvwstPgV2w5/saOF9cMRvt7gKQU
 QshHH1/53uTCPEwrgVKWI5TRNzmzXwgEe3cfprqmAn9WJrrmQtN0NKnzyYFmEsOm
 bQJCQ0oNKe3/SWdoqes1HeGsKW2jgGTSINzU5oC/PS0bB/zawWh/K9ALnJKA7tJd
 i/7pXx5hcmEeiWTcTnM6ShYjsdvEbD/au/tT2wrnVdudVtqWC3bnBZmWpN2Ehd2s
 pJY2CDGqgBUgMIwh8vIDrH14GZmjI792MNrfDJwE+lIEPIcOHXUBPPvPmygsymc4
 EcGy7IWZOmOFmZICQHf3APHYELPnTU8Xe0pkykpdn2p+KSMY4TKpFaqyo6+UIJE8
 xaRQlhP5s4LvBHqAGJDUgED78dj04uKiyyqnlnL94oU0vLeH/r4eXLrX7o5CQwgb
 eG6un/lX1dJ2vItEIsHMWVVcNquKN1/fhWEoNKk5EdaQMgVWjAlC6pySqVKKRCJO
 KC+L721Yjt//xeCVUkoD/E3hgwdbm/urpkyZUlk5tZTrFi+goWEvvb3duFze01YI
 xKIxKions27DcqpryqmuKQfgwMfH6OuN2npPy0OMAT+WgH0eTsQIhbJYt3E5fr/v
 nMADaIAH8IabD+1vbuotKykpKaucWsp111/Fbxs+oqe3C133kdoIKRTHjh7niqsu
 pbR8chpUT/cAR4+0O+C1UfI48ziTwPBwjEkhP+s33TEu8CkCdrWB3txy+OPmpt4p
 KRLXXn8VH7y/j+7uE7hcPkjvqhQHPwlTNa2I7KAfgI/2HCXc2Ok4ztmWBYwgNFI2
 MXJyM/n+I381bvApAgqwnCGaWw7vG0li0XVX8rsPPqa7qxNd86a7cyQS5+03P2Lv
 7iNEInF2vv0xlml7OiPkMxL4mZY8nIiSk5PBw5u/TVbW+MEDaEopa/PmzSaQGmNI
 /MWiK/jdB/vp6u7EpXvtspQSITWig3GOHG7DNDmtf06DHwl8pIRS4DdsufO8wcOI
 LaUQQgcygBygAMhbeOWSNRs2rVpw9devQCnFqocep6X5BBm+XDSpOx6uneHn2ohF
 2dlkpBgajhLM8bFp690XBH4Ugc8nsXrB1V+fj1KK1Q89QUtLO15PEE1zIZCO7lPW
 KUf1hNGRtxgaHiQY9PHID+8lEMi8IPBjCHweiY2bVi/4c4fEmpVPEG5qx+sJON03
 5TwS6dQIjMyAvY8YTsQIBn1s/fvvEMi+cPBnJXAucgJYs+Jxwk3tuN0ZafAjvX+0
 CymSySGCOZk8+tgDBLL9FwX8ZxL4XBIbVy24+hqbxOoVjxFubEPX3U7UT2+ARuI3
 zAQ5OX5+9ORKsi8i+M8lcO4kfkTjsdb0Lm70ngKUMgnmBHji6bUXHfwXEjhnEg89
 yrE/tmIpE8GIAhaC3NxsnvrxerKDWRcdPJzDw12llAHEsZevnUDXOw0vP751y5Pv
 7tj+PgBPPL2eqdNKbPkIZT8jxSIY9PPk0+smDHwK4DkN7OeoAaAMuBxYvPDKJe+8
 +UaDSh0bv/8P6t4716l771qv/u47m1Vf74BSSqljx5pV/Y13tWb5g7cDVwBVTkbd
 KRWc7xjfxedA4sxjIsGPm8B4SUw0eKXU+F/yKaUMIUR85HfvNLz8OFsgFosvqKi0
 n4/GYnGefOynF1/zZxzn9Zbys0iYphH3ejPKASzTjO3au+OpwWh/y0SBhwt4RwZj
 LDYPyHU+S+AU0A90TRR4uMD3xGdkwgSGHALC+XvAGRMCHi4wA+lJ7Ex4AC92gQIk
 HRLDgDER4C8agT/l8b/D0vrQkG97+QAAAABJRU5ErkJggg==
