[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Numpty Physics
Exec=/usr/bin/numptyphysics
StartupWMClass=NPhysics
Icon=numptyphysics48
X-Window-Icon=numptyphysics48
X-Window-Icon-Dimmed=numptyphysics48
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
